In [1]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
d_path = Path("/media/hdd/Datasets/thingsByAge")

# Getting data

## Nobels

In [66]:
nob = pd.read_csv(d_path/'nobels.csv')

In [67]:
nob.head(2)

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death City,Death Country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France

In [68]:
nob["Prize"] = nob["Prize"].str.split(" ").str[:-1].str.join(" ")

In [69]:
nob["ageWhenPrize"] = nob["Year"] -nob["Birth Date"].str.split("-", n= 1, expand=True)[0].fillna(0).astype(int)

In [72]:
nob[["Year","ageWhenPrize","Prize"]].to_csv(d_path/"nobels_processed.csv")

## Olympic

In [73]:
ol = pd.read_csv(d_path/'athlete_events.csv')

In [74]:
ol.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [76]:
ol[["Age", "Year", "Sport"]].to_csv(d_path/'olympic_processed.csv')

## Suicide

In [99]:
ol = pd.read_csv(d_path/'who_suicide_statistics.csv')

In [100]:
ol.head(3)

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0

In [101]:
ol = ol.dropna()

In [106]:
ol[["age", "year", "country"]].to_csv(d_path/'suicides_processed.csv')

## US salary

In [113]:
ol = pd.read_csv(d_path/'adult.data', names = [x for x in range(16)])

In [114]:
ol.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,NaN
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,NaN
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,NaN

In [115]:
ol = ol.dropna()

In [118]:
ol[[0, 14,6]].to_csv(d_path/'salaryUS_processed.csv')

# Analysis